In [5]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib qt

In [9]:

datasets_path = './datasets'
dataset_name = 'master.csv'

full_path = os.path.join(datasets_path, dataset_name)

suicide_df = pd.read_csv(full_path)

suicide_df.head(5)

label = suicide_df['suicides_no']
features = suicide_df.drop(['suicides/100k pop', 'suicides_no'], axis=1)

In [14]:
plt.scatter(features.year,label, label='suicide_no')

In [24]:
pol_idxs = suicide_df.country == 'Poland'

suicide_df_pol = suicide_df[pol_idxs]

# pol_gen_x_idxs = suicide_df_pol.generation == 'Generation X'

# suicide_df_pol = suicide_df_pol[pol_gen_x_idxs]

# suicide_df_pol.count()
suicide_df_pol.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,288.000000,288.000000,2.880000e+02,288.000000,108.000000,288.000000
mean,2002.916667,482.979167,3.007570e+06,15.269514,0.803000,8146.458333
std,7.672295,619.693815,1.352323e+06,14.718888,0.045094,4695.599330
min,1990.000000,3.000000,4.575000e+05,0.090000,0.713000,1876.000000
25%,1995.750000,73.750000,2.278675e+06,2.717500,0.786000,4294.000000
50%,2003.500000,261.000000,2.932916e+06,7.165000,0.829000,6498.500000
75%,2009.250000,653.250000,3.562976e+06,28.905000,0.838000,13247.000000
max,2015.000000,2430.000000,5.705500e+06,45.690000,0.843000,15119.000000

In [63]:
plot_no = 1

for age in set(suicide_df_pol.age):
    suicide_df_pol_filtered = suicide_df_pol[suicide_df_pol.age == age]
    ax = plt.subplot(3,2,plot_no)
    plt.title(f'suicides in age group: {age}')
    for generation in set(suicide_df_pol_filtered.generation):
        idxs = suicide_df_pol_filtered.generation == generation
        sparse_df = suicide_df_pol_filtered[idxs]
        x = sparse_df.year.unique()
        y_male = sparse_df[sparse_df.sex == 'male'].suicides_no
        y_female = sparse_df[sparse_df.sex == 'female'].suicides_no
        print(len(x), len(y_male), len(y_female))
        ax1 = plt.scatter(x, y_male, label=f'{generation} - male')
        ax2 = plt.scatter(x, y_female, label=f'{generation} - female')
    plt.legend()
    plt.grid()
    plot_no += 1

15 15 15
9 9 9
5 5 5
5 5 5
14 14 14
5 5 5
1 1 1
18 18 18
17 17 17
6 6 6
1 1 1
9 9 9
14 14 14
1 1 1
9 9 9
15 15 15

In [26]:
suicide_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [36]:
set(suicide_df_pol.age)

{'15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years'}

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
19078,Poland,1990,male,5-14 years,33,3383600,0.98,Poland1990,0.713,"65,977,749,037",1876,Generation X
19079,Poland,1990,female,5-14 years,7,3237900,0.22,Poland1990,0.713,"65,977,749,037",1876,Generation X
19090,Poland,1991,male,5-14 years,39,3384700,1.15,Poland1991,NaN,"85,500,935,935",2416,Millenials
19091,Poland,1991,female,5-14 years,8,3240000,0.25,Poland1991,NaN,"85,500,935,935",2416,Millenials
19102,Poland,1992,male,5-14 years,39,3366400,1.16,Poland1992,NaN,"94,337,050,693",2650,Millenials
19103,Poland,1992,female,5-14 years,3,3222300,0.09,Poland1992,NaN,"94,337,050,693",2650,Millenials
19114,Poland,1993,male,5-14 years,44,3336600,1.32,Poland1993,NaN,"96,045,645,026",2683,Millenials
19115,Poland,1993,female,5-14 years,6,3192500,0.19,Poland1993,NaN,"96,045,645,026",2683,Millenials
19126,Poland,1994,male,5-14 years,35,3290500,1.06,Poland1994,NaN,"110,803,391,517",3081,Millenials
19127,Poland,1994,female,5-14 years,5,3146900,0.16,Poland1994,NaN,"110,803,391,517",3081,Millenials
19138,Poland,1995,male,5-14 years,60,3229600,1.86,Poland1995,0.740,"142,137,319,588",3937,Millenials
19139,Poland,1995,female,5-14 years,6,3085600,0.19,Poland1995,0.740,"142,137,319,588",3937,Millenials
19150,Poland,1996,male,5-14 years,52,3166700,1.64,Poland1996,NaN,"159,942,880,457",4413,Millenials
19151,Poland,1996,female,5-14 years,12,3022500,0.40,Poland1996,NaN,"159,942,880,457",4413,Millenials
19162,Poland,1999,male,5-14 years,32,2884500,1.11,Poland1999,NaN,"169,717,677,901",4640,Millenials
19163,Poland,1999,female,5-14 years,4,2748300,0.15,Poland1999,NaN,"169,717,677,901",4640,Millenials
19174,Poland,2000,male,5-14 years,37,2774433,1.33,Poland2000,0.786,"171,885,598,583",4744,Millenials
19175,Poland,2000,female,5-14 years,9,2647383,0.34,Poland2000,0.786,"171,885,598,583",4744,Millenials
19186,Poland,2001,male,5-14 years,35,2668508,1.31,Poland2001,NaN,"190,521,263,343",5249,Millenials
19187,Poland,2001,female,5-14 years,3,2546175,0.12,Poland2001,NaN,"190,521,263,343",5249,Millenials
19198,Poland,2002,male,5-14 years,31,2574352,1.20,Poland2002,NaN,"198,680,637,255",5466,Millenials
19199,Poland,2002,female,5-14 years,10,2456261,0.41,Poland2002,NaN,"198,680,637,255",5466,Millenials
19210,Poland,2003,male,5-14 years,16,2481651,0.64,Poland2003,NaN,"217,513,049,292",5983,Millenials
19211,Poland,2003,female,5-14 years,5,2367792,0.21,Poland2003,NaN,"217,513,049,292",5983,Millenials
19222,Poland,2004,male,5-14 years,26,2390714,1.09,Poland2004,NaN,"255,102,252,843",7014,Millenials
19223,Poland,2004,female,5-14 years,10,2280196,0.44,Poland2004,NaN,"255,102,252,843",7014,Millenials
19234,Poland,2005,male,5-14 years,26,2301105,1.13,Poland2005,0.805,"306,125,173,853",8417,Millenials
19235,Poland,2005,female,5-14 years,7,2194572,0.32,Poland2005,0.805,"306,125,173,853",8417,Millenials
19246,Poland,2006,male,5-14 years,31,2211541,1.40,Poland2006,NaN,"344,748,646,558",9485,Millenials
19247,Poland,2006,female,5-14 years,13,2109057,0.62,Poland2006,NaN,"344,748,646,558",9485,Millenials
19258,Poland,2007,male,5-14 years,19,2127356,0.89,Poland2007,NaN,"429,063,549,984",11816,Generation Z
19259,Poland,2007,female,5-14 years,12,2027682,0.59,Poland2007,NaN,"429,063,549,984",11816,Generation Z
19270,Poland,2008,male,5-14 years,20,2053982,0.97,Poland2008,NaN,"533,815,789,474",14721,Generation Z
19271,Poland,2008,female,5-14 years,8,1955345,0.41,Poland2008,NaN,"533,815,789,474",14721,Generation Z
19282,Poland,2009,male,5-14 years,25,1992140,1.25,Poland2009,NaN,"439,796,160,379",12141,Generation Z
19283,Poland,2009,female,5-14 years,13,1893442,0.69,Poland2009,NaN,"439,796,160,379",12141,Generation Z
19294,Poland,2010,male,5-14 years,10,1944345,0.51,Poland2010,0.829,"479,321,460,551",13304,Generation Z
19295,Poland,2010,female,5-14 years,6,1846837,0.32,Poland2010,0.829,"479,321,460,551",13304,Generation Z
19306,Poland,2011,male,5-14 years,17,1912411,0.89,Poland2011,0.833,"528,832,185,770",14686,Generation Z
19307,Poland,2011,female,5-14 years,4,1816103,0.22,Poland2011,0.833,"528,832,185,770",14686,Generation Z
19318,Poland,2012,male,5-14 years,12,1898168,0.63,Poland2012,0.838,"500,360,816,828",13894,Generation Z
19319,Poland,2012,female,5-14 years,4,1801813,0.22,Poland2012,0.838,"500,360,816,828",13894,Generation Z
19330,Poland,2013,male,5-14 years,16,1906361,0.84,Poland2013,0.840,"524,234,322,597",14552,Generation Z
19331,Poland,2013,female,5-14 years,7,1810891,0.39,Poland2013,0.840,"524,234,322,597",14552,Generation Z
19342,Poland,2014,male,5-14 years,9,1929147,0.47,Poland2014,0.843,"545,179,584,720",15119,Generation Z
19343,Poland,2014,female,5-14 years,4,1833838,0.22,Poland2014,0.843,"545,179,584,720",15119,Generation Z
19354,Poland,2015,male,5-14 years,12,1953588,0.61,Poland2015,NaN,"477,355,617,456",13228,Generation Z
19355,Poland,2015,female,5-14 years,7,1855256,0.38,Poland2015,NaN,"477,355,617,456",13228,Generation Z